@import "../Variables/variables.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 3rem;
  background-color: $NavColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: $NavText;
    font-size: larger;
    padding: 0 2rem;
  }
  // .toggle-button {
  //   position: absolute;
  //   top: 0.75rem;
  //   right: 1rem;
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   width: 30px;
  //   height: 21px;

  //   .toggle-button span {
  //     height: 3px;
  //     width: 100%;
  //     background-color: white;
  //     border-radius: 10px;
  //     color: white;
  //   }
  // }
  #nav-toggle {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    cursor: pointer;
    background-color: $NavColor;
    border: none;
    display: none;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 2px;
      width: 30px;
      background: white;
      position: absolute;

      display: block;
      content: "";
      transition: all 300ms ease-in-out;
    }
    span:before {
      top: -10px;
    }
    span:after {
      bottom: -10px;
    }
  }

  .nav-link {
    margin: 2rem;

    ul {
      display: flex;
      list-style: none;
      li {
        padding: 0 2rem 0 0;
        display: inline;

        a {
          text-decoration: none;
          color: $NavText;
        }
      }
    }
  }
  @media (max-width: 750px) {
    #nav-toggle {
      display: flex;
    }
  }
}
@media (max-width: 750px) {
  #nav-toggle {
    display: flex;
  }
  .logo {
    margin: 1rem 0 1rem 0;
  }
  .nav-link {
    display: none;
    width: 100%;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  .nav-link ul {
    width: 100%;
    flex-direction: column;
  }
  .nav-link li {
    margin-bottom: 1rem;
  }
  .nav-link.active {
    display: flex;
  }
}
.header-section {
  margin: 2rem 0 0 2rem;
}
.navigate-section {
  margin: 2rem 0 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(40% - 2rem);

  a {
    text-decoration: none;
    font-size: 0.9rem;
    color: grey;
    padding-bottom: 0.5rem;
    display: inline-block;
    text-align: center;
  }
  a.active {
    color: #000;
    width: 10%;
    border-bottom: 2px solid black;
  }
  @media (max-width: 1546px) {
    a.active {
      color: #000;
      width: 17%;
      border-bottom: 2px solid black;
    }
  }
}
@media (max-width: 900px) {
  a.active {
    color: #000;
    width: 10%;
    border-bottom: 2px solid black;
  }
  .navigate-section {
    width: 100%;
    justify-content: space-around;
  }
  .header-section {
    text-align: center;
  }
}
.result {
  background-color: $Lightgrey;
  height: 3rem;
  margin: 0 0 0 0;
  padding: 0.4rem 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  p {
    font-size: 0.8rem;
    color: black;
  }
}
.content {
  margin: 1rem 2rem 0 2rem;

  .header {
    padding-bottom: 1rem;
  }
  .job {
    display: flex;
    align-items: flex-start;
    width: 100%;
    border: 0.5px solid $Grey;
    height: 21rem;
    margin-top: 1rem;
  }

  .job-head {
    text-align: center;
    width: 25%;
    height: 20.9rem;
    background: $Lightgrey;
    .match-date {
      margin-top: 4rem;
      margin-bottom: 1rem;
      font-size: 0.9rem;
      color: $Grey;
      letter-spacing: 1px;
    }
    .job-title {
      text-align: center;
      color: $FontText;
      font-size: 1.8rem;
    }
    .job-location {
      padding: 1rem;
      font-weight: lighter;
      color: $Grey;
    }
    .response {
      margin: 1.3rem;
      button {
        border: none;
        width: 12rem;
        height: 2.5rem;
        cursor: pointer;
        border: $Grey 1px solid;
      }
      .like {
        background: $Grey;
      }
      .dislike {
        background: $Lightgrey;
      }
      @media (max-width: 1785px) {
        button {
          width: 8rem;
        }
      }
      @media (max-width: 1259px) {
        button {
          width: 5.4rem;
        }
      }
      @media (max-width: 824px) {
        button {
          width: 7rem;
        }
      }
    }
  }
  @media (max-width: 1435px) {
    .job {
      height: 22rem;
    }
    .job-head {
      height: 21.9rem;
    }
  }
  @media (max-width: 1158px) {
    .job {
      height: 23rem;
    }
    .job-head {
      height: 22.9rem;
    }
  }
  .job-details {
    padding: 1.4rem;
    width: calc(75% - 4rem);
    display: flex;
    flex-direction: column;

    .details {
      display: flex;
      align-items: flex-start;
    }
    .about-company {
      color: $Grey;
      width: 40%;
      padding-bottom: 1rem;

      .company {
        display: flex;
        padding: 0.5rem 0;
        p:first-child {
          color: $Grey;
          font-size: 0.8rem;
          flex: 1;
        }
        p:nth-child(2) {
          margin-left: 6rem;
          font-size: 0.8rem;
          font-weight: bold;
          color: black;
          flex: 2;
        }

        @media (max-width: 1435px) {
          p:first-child {
            color: $Grey;
            padding-right: 1rem;
            flex: 1;
          }
          p:nth-child(2) {
            margin-left: 2rem;
            font-size: 0.8rem;
            flex: 1;
          }
        }
      }
    }
    .about-role {
      color: $Grey;
      width: 40%;
      text-transform: uppercase;
      padding-bottom: 1rem;
      .company {
        display: flex;
        padding: 0.5rem 0;
        p:first-child {
          color: $Grey;
          font-size: 0.8rem;
          flex: 2;
        }
        p:nth-child(2) {
          margin-left: 6rem;
          font-size: 0.8rem;
          color: black;
          flex: 2;
        }
      }
    }
    .loader {
      width: 21%;
      margin: 2.5rem 0 0 4rem;

      .CircularProgressbar {
        width: 100%;

        vertical-align: middle;
      }

      .CircularProgressbar .CircularProgressbar-path {
        stroke: $Grey;
        stroke-linecap: round;
        transition: stroke-dashoffset 0.5s ease 0s;
      }

      .CircularProgressbar .CircularProgressbar-trail {
        stroke-linecap: round;
      }

      .CircularProgressbar .CircularProgressbar-text {
        fill: $Grey;

        font-weight: lighter;
        dominant-baseline: middle;
        text-anchor: middle;
      }

      .CircularProgressbar .CircularProgressbar-background {
        fill: #d6d6d6;
      }

      .CircularProgressbar.CircularProgressbar-inverted
        .CircularProgressbar-background {
        fill: #666666;
      }

      .CircularProgressbar.CircularProgressbar-inverted
        .CircularProgressbar-text {
        fill: #fff;
      }

      .CircularProgressbar.CircularProgressbar-inverted
        .CircularProgressbar-path {
        stroke: #fff;
      }

      .CircularProgressbar.CircularProgressbar-inverted
        .CircularProgressbar-trail {
        stroke: transparent;
      }
    }
  }

  @media (max-width: 1380px) {
    .loader {
      display: none;
      width: 0%;
    }
    .details {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .about-company,
    .about-role {
      width: 100%;

      p:first-child {
        width: 100%;
      }
      p:nth-child(2) {
        flex: 0;
        margin-left: 0;
      }
    }
  }

  .job-description {
    color: $Grey;
    padding-bottom: 1rem;
    div {
      margin-top: 0.5rem;
      font-weight: bold;

      a {
        text-decoration: none;
        color: $FontText;
      }
    }
  }
}

@media (max-width: 1002px) {
  .header {
    text-align: center;
  }
  .about-company {
    display: none;
  }
  .job {
    width: 100%;
    height: 21rem;
    margin-top: 1rem;

    .job-head {
      text-align: center;
      width: 80%;
      height: 22.9rem;
    }
  }

  .job-description {
    font-size: 1rem;
  }
  button {
    width: 5rem;
  }
}

@media (max-width: 573px) {
  .job {
    width: 100%;
    height: 21rem;
    margin-top: 1rem;

    .job-head {
      text-align: center;
      width: 70%;
      height: 22.9rem;
      background: $Lightgrey;
    }
  }
  .job-description {
    font-size: 0.8rem;
  }
}
